@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff;
  --text-color: #111;
  font-family: Georgia, Baskerville, 'Liberation Serif', 'Kaiti SC', STKaiti, 'AR PL UKai CN', 'AR PL UKai HK', 'AR PL UKai TW', 'AR PL UKai TW MBE',
    'AR PL KaitiM GB', KaiTi, KaiTi_GB2312, DFKai-SB, 'TW\-Kai', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(20, 20, 20);
    --text-color: rgb(230, 230, 230);
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
